<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Receitas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="../static/scripts/geral.js"></script>

  <body>
      <nav id="menu-h">
        <ul>
            <li>
                <a href="/">
                    Home
                </a>
            </li>

            <li><a href="/GerenciarIngrediente">Gerenciar Ingrediente</a></li>

            <li><a href="/GerenciarReceitas">Gerenciar Receitas</a></li>

        </ul>
      </nav>
      <div class="container">
        <div class="page-header">
            <h2>{{ titulo }}</h2>
        </div>
        {% block conteudo %}{% endblock %}
    </div>
      
  </body>
</html>

<div class="modal fade" id="ModalIngrediente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar Lista de ingredientes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row col-12" style="margin: auto;">
          <div class="col-6">
            <label style="width: inherit;">Ingredientes:</label>
          </div>
          <div class="col-6">
            <a style="width: inherit;" tabindex="0" id="btnAdicionar" onclick="AdicionarCampoIngrediente()" title="Novo Ingrediente" style="font-size: large; cursor: pointer;"><span><i class="fa fa-plus"></i></span></a>
          </div>
        </div>
        <div id="dvIngredientes" class="row" style="margin: auto;">
            <input type="text" name="ingredientes[]" placeholder="Ex: Sal">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" onclick="AdicionarListaIngrediente()" class="btn btn-primary">Adicionar</button>
      </div>
    </div>
  </div>
</div>


