{% extends "_layout.html" %}
<!--criamos um bloco de conteúdo a ser interpretado pelo python-->
{% block conteudo %}
    <br>

    <div class="row col-12" style="margin: auto;">
        <div class="col-12 mb-3">
            <button type="button" data-toggle="collapse" data-target="#collapseNovaReceita" aria-expanded="false" aria-controls="collapseNovaReceita" class="btn btn-primary" onclick="LimparCampos()" style="width: inherit;"><i class="fa fa-cutlery"></i>&nbsp;Nova Receita</button>
        </div>
        <br>
        <div class="collapse" id="collapseNovaReceita" style="inline-size: -webkit-fill-available;">
            <div class="card card-body">
                <div class="row col-12">
                    <div class="col-3 mb-3">
                        <label for="txtNome">Nome da receita:</label>
                        <input class="form-control" type="text" id="txtNome">
                    </div>
                    <div class="col-4 mb-3">
                        <label for="slcIngrediente">Ingrediente:</label>
                        <select class="form-control" id="slcIngrediente">
                            <option value="0"> Selecione </option>
                            {% for item in ingredientes  %}
                                <option value="{{item.nome}}"> {{item.nome}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="txtQtd">Quantidade do ingrediente:</label>
                        <input class="form-control" type="text" placeholder="Ex: 200g" id="txtQtd">
                    </div>
                    <div class="col-1">
                        <button onclick="AdicionarIngredienteReceita()" style="margin-top: 30px;
                        background-color: white;
                        border: white;
                        font-size: x-large;" title="Adicionar"><span><i class="fa fa-plus"></i></span></a>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-6 mb-3">
                        <label for="txtListaI">Ingredientes:</label>
                        <textarea readonly class="form-control" style="height: 250px;" type="text" id="txtListaI"></textarea>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="txtListaP">Passo a Passo: (Separado por ponto e virgula)</label>
                        <textarea class="form-control" placeholder="Ex: Assar;" type="text" style="height: 250px;" id="txtListaP"></textarea>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <button type="button" class="btn btn-danger" onclick="SalvarReceita()" style="width: inherit;"><i class="fa fa-floppy-o"></i>&nbsp;Salvar Receita</button>
                </div>
            </div>
          </div>
    </div>

    <br>
    <div id="accordion">
        {% for receita in receitas  %}
            <div class="card">
                <div class="card-header" id='heading{{ receita.id }}'>
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ receita.id }}" aria-expanded="true" aria-controls="collapse{{ receita.id }}">
                        {{ receita.nome }}
                      </button>
                    </h5>
                </div>
                <div id="collapse{{ receita.id }}" class="collapse" aria-labelledby="heading{{ receita.id }}" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row col-12">Ingredientes:</div>
                        {% for ingrediente in receita.lIngredientes  %}
                            <div class="row col-12">{{ingrediente.qtd}} - {{ingrediente.nome}}</div>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="card-body">
                        <div class="row col-12">Passo a Passo:</div>
                        {% for passo in receita.lPassos  %}
                            <div class="row col-12">{{passo}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}



<!--encerramos o bloco de código a ser interpretado pelo python-->